<div class="clearfix"></div>
<div class="content">
    <div class="row login-container column-seperation">
        <div class="col-md-5 col-md-offset-1">

            <img src="/images/banner.png" class="img-responsive">

            <p>Bandit.io requests a few steps before you can use it to capture on HTTPS requests.<br>
                Click on the applicable button to install the CA certificate for your OS.</p>
            <br>
            <p>Please remember to remove the certificate after you have finished using Bandit.io</p>

        </div>
        <div class="col-md-5 "><br>
            <a href="/file/bandit_ca.crt" class="btn btn-block btn-info col-md-8" target="_self">
                <div class="pull-left"><i class="icon-windows"></i></div>
                <span class="bold">Start HTTP Proxy</span></a>
            <a href="/file/bandit_ca.crt" class="btn btn-block btn-info col-md-8" target="_self">
                <div class="pull-left"><i class="icon-linux"></i></div>
                <span class="bold">Start Socks Proxy</span>
            </a>
        </div>


    </div>
</div>
