<div class="clearfix"></div>
<div class="content">


    <ul class="breadcrumb">
        <li>
            <p>Bandit.io<p>
        </li>
        <i class="icon-angle-right"></i>
        <li><a href="/meddle/{{room_id}}" class="active">Live Debugger</a></li>
    </ul>
    <div class="page-title">
        <h3>Meddle - <span class="semi-bold">Live Debugger</span></h3>
    </div>

    <!-- BEGIN BASIC FORM ELEMENTS-->
    <div class="row">
        <div class="col-md-9">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Active <span class="semi-bold">Pages</span></h4>
                    <div class="tools">
                        <a class="collapse" ng-click="meddle_collapsed = !meddle_collapsed" ng-class="{collapse: !meddle_collapsed, expand:meddle_collapsed}"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a> </div>
                </div>
                <div class="grid-body no-border" style="min-height:500px;" ng-hide="meddle_collapsed">
                    <iframe ng-src="{{debuggerUrl}}" width="100%" height="500px" style="width:100%;height:500px" ng-hide="loadingDebugger" my-frame="loadingDebugger = false">

                    </iframe>
                    <div ng-show="loadingDebugger">
                        <img src="/images/loading.gif" class="dead-center-loading"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="grid simple">
                        <div class="grid-title no-border">
                            <h4>Debug <span class="semi-bold">Tools</span></h4>
                            <div class="tools">
                                <a ng-click="action_collapsed = !action_collapsed" ng-class="{collapse: !action_collapsed, expand:action_collapsed}"></a>
                                <a href="#grid-config" data-toggle="modal" class="config"></a>
                                <a href="javascript:;" class="remove"></a>
                            </div>
                        </div>
                        <div class="grid-body no-border" ng-hide="action_collapsed">
                            <div class="row-fluid">
                                <p>status/info</p>
                                <p> Validate, JS Lint, tools</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- END BASIC FORM ELEMENTS-->
</div>