<div class="clearfix"></div>
<div class="content">


    <ul class="breadcrumb">
        <li>
            <p>Bandit.io<p>
        </li>
        <i class="icon-angle-right"></i>
        <li><a href="/{{room_id}}">Network Requests</a></li>
        <li><a href="/{{room_id}}" class="active">Request Details</a></li>
    </ul>
    <div class="page-title">
        <a href="/{{room_id}}"><i class="icon-custom-left"></i></a>
        <h3>Snoop - <span class="semi-bold">{{resource.request.hostname}}</span></h3>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="row" ng-if="resource.request.headers">
                <div class="col-md-12">
                    <div class="grid simple vertical green">
                        <div class="grid-title no-border">
                            <h4>Request <span class="semi-bold">Headers</span></h4>
                            <div class="tools">
                                <a ng-click="request_collapsed = !request_collapsed" ng-class="{collapse: !request_collapsed, expand:request_collapsed}"></a>
                                <a href="#grid-config" data-toggle="modal" class="config"></a>
                                <a href="javascript:;" class="remove"></a>
                            </div>
                        </div>
                        <div class="grid-body no-border" ng-hide="request_collapsed">
                            <div class="row-fluid ">
                                <dl class="dl-horizontal">
                                    <dt>method</dt>
                                    <dd>{{resource.request.method}}</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>protocol</dt>
                                    <dd>{{resource.request.protocol}}</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>hostname</dt>
                                    <dd>{{resource.request.hostname}}</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>filepath</dt>
                                    <dd>{{resource.request.filepath}}{{resource.request.filename}}</dd>
                                </dl>
                                <hr/>
                                <dl class="dl-horizontal" ng-repeat="(header, value) in resource.request.headers">
                                    <dt>{{header}}</dt>
                                    <dd>{{value}}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" ng-if="resource.request.data">
                <div class="col-md-12">
                    <div class="grid simple transparent">
                        <div class="grid-title">
                            <h4>Request <span class="semi-bold">Body</span></h4>
                            <div class="tools">
                                <a ng-click="request_data_collapsed = !request_data_collapsed" ng-class="{collapse: !request_data_collapsed, expand:request_data_collapsed}"></a>
                                <a href="#grid-config" data-toggle="modal" class="config"></a>
                                <a href="javascript:;" class="remove"></a>
                            </div>
                        </div>
                        <div class="grid-body" ng-hide="request_data_collapsed">
                            <div hljs source="resource.request.data"></div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="row" ng-if="resource.response.headers">
                <div class="col-md-12">
                    <div class="grid simple vertical green">
                        <div class="grid-title no-border">
                            <h4>Response <span class="semi-bold">Headers</span></h4>
                            <div class="tools">
                                <a ng-click="response_collapsed = !response_collapsed" ng-class="{collapse: !response_collapsed, expand:response_collapsed}"></a>
                                <a href="#grid-config" data-toggle="modal" class="config"></a>
                                <a href="javascript:;" class="remove"></a>
                            </div>
                        </div>
                        <div class="grid-body no-border" ng-hide="response_collapsed">
                            <div class="row-fluid ">
                                <dl class="dl-horizontal">
                                    <dt>status</dt>
                                    <dd>{{resource.request.status}}</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>filesize</dt>
                                    <dd>{{resource.response.info.filesize}}</dd>
                                </dl>
                                <hr/>
                                <dl class="dl-horizontal" ng-repeat="(header, value) in resource.response.headers">
                                    <dt>{{header}}</dt>
                                    <dd>{{value}}</dd>
                                </dl>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="resource.response.data">
                <div class="col-md-12">
                    <div class="grid simple transparent">
                        <div class="grid-title">
                            <h4>Response <span class="semi-bold">Body</span></h4>
                            <div class="tools">
                                <a ng-click="response_data_collapsed = !response_data_collapsed" ng-class="{collapse: !response_data_collapsed, expand:response_data_collapsed}"></a>
                                <a href="#grid-config" data-toggle="modal" class="config"></a>
                                <a href="javascript:;" class="remove"></a>
                            </div>
                        </div>
                        <div class="grid-body" ng-hide="response_data_collapsed">
                            <div hljs source="resource.response.data"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="grid simple">
                        <div class="grid-title no-border">
                            <h4>Request <span class="semi-bold">Actions</span></h4>
                            <div class="tools">
                                <a ng-click="action_collapsed = !action_collapsed" ng-class="{collapse: !action_collapsed, expand:action_collapsed}"></a>
                                <a href="#grid-config" data-toggle="modal" class="config"></a>
                                <a href="javascript:;" class="remove"></a>
                            </div>
                        </div>
                        <div class="grid-body no-border" ng-hide="action_collapsed">
                            <div class="row-fluid">
                                <p>DeleteFile</p>
                                <p>View Status</p>
                                <p> Connect to console</p>
                                <p> Validate, JS Lint, tools</p>
                                <h1>h1. Heading 1</h1>
                                <h2>h2. Heading 2</h2>
                                <h3>h3. Heading 3</h3>
                                <h4>h4. Heading 4</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>