<ol class="breadcrumb">
    <li><a href="/{{room_id}}">Requests</a></li>
    <li class="active">{{resource.request.filename}}</li>
</ol>

<div>resource</div>
<div hljs source="resource.response.data">
</div>
