<div class="clearfix"></div>
<div class="content">


    <ul class="breadcrumb">
        <li>
            <p>Bandit.io</p>
        </li>
        <i class="icon-angle-right"></i>
        <li><a href="/snoop/{{room_id}}" class="active">Network Requests</a></li>
    </ul>
    <div class="page-title">

        <h3>Snoop - <span class="semi-bold">Network Requests</span></h3>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-title no-border">
                    <h4>Current <span class="semi-bold">Network Requests</span></h4>

                    <div class="tools"><a ng-click="current_collapsed = !current_collapsed" ng-class="{collapse: !current_collapsed, expand:current_collapsed}"></a>
                        <a data-toggle="modal" class="config"></a>
                        <a class="reload"></a>
                        <a class="remove"></a>
                    </div>
                </div>
                <div class="grid-body no-border" ng-hide="current_collapsed">
                    <table class="table no-more-tables table-hover">
                        <thead>
                        <tr>
                            <th width="1%">
                                <div class="checkbox check-default">
                                    <input id="current_checkall" type="checkbox" class="checkall">
                                    <label for="current_checkall"></label>
                                </div>
                            </th>

                            <th width="30%">Url</th>
                            <th width="5%">Method</th>
                            <th width="5%">Status</th>
                            <th width="20%">Type</th>
                            <th width="7%">Size</th>
                            <th witdh="18%">Time</th>
                            <th width="14%">Progress</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="resource_lookup in resource_times | orderBy: 'request_start_time'" ng-class="{'row_selected': current_resource_selection[resource_lookup.resource_id]}">
                            <td valign="middle">
                                <div class="checkbox check-default" ng-click="toggleCurrentSelection(resource_lookup.resource_id)">
                                    <input id="{{resource_lookup.resource_id}}" type="checkbox" ng-model="current_resource_selection[resource_lookup.resource_id]">
                                    <label for="{{resource_lookup.resource_id}}" ></label>
                                </div>
                            </td>

                            <td><a ng-href="/snoop/{{room_id}}/{{resource_lookup.resource_id}}"><span
                                            class="muted"><strong>{{resources[resource_lookup.resource_id].request.hostname}}</strong>{{resources[resource_lookup.resource_id].request.filepath}}</span>{{resources[resource_lookup.resource_id].request.filename}}</a>
                            </td>
                            <td>{{resources[resource_lookup.resource_id].request.method}}</td>
                            <td>{{resources[resource_lookup.resource_id].response.status}}</td>
                            <td>{{resources[resource_lookup.resource_id].response.headers['content-type']}}</td>
                            <td>{{resources[resource_lookup.resource_id].response.info.filesize}}</td>
                            <td><span class="muted">{{resources[resource_lookup.resource_id].request.request_start_time | date:'mediumDate'}}</span>
                                {{resources[resource_lookup.resource_id].request.request_start_time |
                                date:'mediumTime'}}
                            </td>
                            <td valign="middle">
                                <div class="progress">
                                    <div data-percentage="79%" id=""
                                         class="progress-bar progress-bar-success animate-progress-bar"></div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-title no-border">
                    <h4>Past <span class="semi-bold">Network Requests</span></h4>

                    <div class="tools"><a ng-click="prev_collapsed = !prev_collapsed" ng-class="{collapse: !prev_collapsed, expand:prev_collapsed}"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a class="reload"></a>
                        <a class="remove"></a>
                    </div>
                </div>
                <div class="grid-body no-border" ng-hide="prev_collapsed" ng-if="loading_prev_resources">

                <img src="/images/loading.gif" class="center-loading"/>
                    </div>
                <div class="grid-body no-border" ng-hide="prev_collapsed" ng-if="!loading_prev_resources && prev_resource_times.length">
                    <table  class="table no-more-tables table-hover">
                        <thead>
                        <tr>
                            <th width="1%">
                                <div class="checkbox check-default">
                                    <input id="checkbox10" type="checkbox" value="1" class="checkall">
                                    <label for="checkbox10"></label>
                                </div>
                            </th>

                            <th width="30%">Url</th>
                            <th width="5%">Method</th>
                            <th width="5%">Status</th>
                            <th width="20%">Type</th>
                            <th width="7%">Size</th>
                            <th witdh="18%">Time</th>
                            <th width="14%">Progress</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="resource_lookup in prev_resource_times | orderBy: 'request_start_time'" ng-class="{'row_selected': prev_resource_selection[resource_lookup.resource_id]}">
                            <td valign="middle">

                                <div class="checkbox check-default">
                                    <input id="{{resource_lookup.resource_id}}" type="checkbox" ng-model="prev_resource_selection[resource_lookup.resource_id]">
                                    <label for="{{resource_lookup.resource_id}}" ></label>
                                </div>
                            </td>

                            <td><a ng-href="/snoop/{{room_id}}/{{resource_lookup.resource_id}}"><span
                                            class="muted"><strong>{{prev_resources[resource_lookup.resource_id].request.hostname}}</strong>{{prev_resources[resource_lookup.resource_id].request.filepath}}</span>{{prev_resources[resource_lookup.resource_id].request.filename}}</a>
                            </td>
                            <td>{{prev_resources[resource_lookup.resource_id].request.method}}</td>
                            <td>{{prev_resources[resource_lookup.resource_id].response.status}}</td>
                            <td>{{prev_resources[resource_lookup.resource_id].response.headers['content-type']}}</td>
                            <td>{{prev_resources[resource_lookup.resource_id].response.info.filesize}}</td>
                            <td><span class="muted">{{prev_resources[resource_lookup.resource_id].request.request_start_time | date:'mediumDate'}}</span>
                                {{prev_resources[resource_lookup.resource_id].request.request_start_time |
                                date:'mediumTime'}}
                            </td>
                            <td valign="middle">
                                <div class="progress">
                                    <div data-percentage="79%" id=""
                                         class="progress-bar progress-bar-success animate-progress-bar"></div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="dataTables_info">Showing <b>{{prev_resource_times.length}}</b> of 57 entries {{prev_resource_selection}}
                                {{current_resource_selection}}</div>
                        </div>
                    </div>
                </div>
                <div class="grid-body no-border" ng-hide="prev_collapsed" ng-if="!loading_prev_resources && !prev_resource_times.length">
                    <h3>Nothing <span class="semi-bold">Here</span></h3>
                    <p>It seems no previous network requests have been logged on this computer.</p>
                </div>

            </div>
        </div>

    </div>
</div>


<div class="admin-bar" id="quick-access" style="bottom: 0px;" ng-show="showDelete()">
    <div class="admin-bar-inner">

        <button class="btn btn-danger  btn-add" type="button" ng-click="clickDelete()"><i class="icon-trash"></i> Move to trash</button>
        <button class="btn btn-white  btn-cancel" type="button" ng-click="clickClear()">Clear Selection</button>
    </div>
</div>