<div class="clearfix"></div>
<div class="content">


    <ul class="breadcrumb">
        <li>
            <p>Bandit.io<p>
        </li>
        <i class="icon-angle-right"></i>
        <li><a href="/settings" class="active">Settings</a></li>
    </ul>
    <div class="page-title">
        <h3>Application <span class="semi-bold">Settings</span></h3>
    </div>
</div>