<div class="clearfix"></div>
<div class="content">
    <!--<iframe style="width:100%;height:100%;min-height:500px;"src="/devtools/front_end/inspector.html?ws=proxy.bandit.io:9000/ws/all"></iframe>-->
    <iframe style="width:100%;height:100%;min-height:500px;"src="/devtools/front_end/inspector.html?ws=192.168.99.100:9000/ws/all"></iframe>
    <!--<iframe style="width:100%;height:100%;min-height:500px;"src="https://chrome-devtools-frontend.appspot.com/serve_rev/@195284/devtools.html?ws=192.168.99.100:9000/ws/all"></iframe>-->
</div>

