@import "/components/font-awesome/css/font-awesome.css";
@import "/components/theme/css/theme-style.css";
@import "/components/theme/css/animate.min.css";
@import "/components/theme/css/responsive.css";
@import "/components/theme/css/custom-icon-set.css";

ol.linenums {
  max-height: 800px;
  overflow-y: scroll;
  margin-right: -4px;
}

dl {
  margin-top: 0px;
  margin-bottom: 0px;
}

.user-info-wrapper .user-info .status {
  margin-top: 10px;
}

.center-loading {
  height: 80px;
  display:block;
  margin:auto;
}

.dead-center-loading{
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

.limited-height{
  max-height:600px;
  overflow:auto;
  overflow-x:hidden;

}

.limited-height-long{
  max-height:900px;
  overflow:auto;
  overflow-x:hidden;

}